@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}


#landingHeader {
	background-image: url("./images/home.png");
	background-size: cover;
	height: 40rem;
	
}

.header {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: skyblue;

}
.logo {
    width: 150px;
    cursor: pointer;
    border-radius: 50%;
}

nav {
	width: 100%;
	
	text-align: left;
	padding: 15px 10px;
}

#firstNav {
	margin-left: 150px;
	float: left;
	width: 20%
}

#secondNav {
	margin-top: 50px;
	margin-left: 40%;
	
}


nav a {
    text-decoration: none;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 600;
    display: inline-block;
    padding: 5px 25px;
}
#btn1 {
    text-transform: uppercase;
    background: linear-gradient(to bottom, #378de5 3%, #48789b 100%);
    border-radius: 30px;
    border: 1px solid #5e97d1;
    cursor: pointer;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-weight: 700;
    padding: 12px 20px;
    margin: 10px;
    text-decoration: none;
    box-shadow: 1px 4px 12px rgba(94,28,68,.15);
    text-shadow: 0px 1px 0px #528ecc;
}
#btn2 {
    text-transform: uppercase;
    background: linear-gradient(to bottom, #cbcbcb 2%, #fff 100%);
    border-radius: 30px;
    border: 1px solid #cbcbcb;
    cursor: pointer;
    color: #5e97d1;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-weight: 700;
    padding: 12px 20px;
    margin: 10px;
    text-decoration: none;
    box-shadow: 1px 4px 12px rgba(94,28,68,.15);
    text-shadow: 0px 1px 0px #cbcbcb;
}
.btn:hover {
    box-shadow: 3px 8px 22px rgba(94,28,68,.15);
    transform: scale(1.1);
    transition: .2s ease-in-out;
}
.content {
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.content .text {
    position: relative;
    max-width: 600px;
}
.content .text h1 {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 80px;
    line-height: 1.5em;
    letter-spacing: .1em;
    font-size: 40px;
    color: yellow;
    text-align: center;
}

.content .text h1 span {
    font-size: 50px;
}

/* .content .text p {
    font-size: 170px;
    font-weight: 600;
    letter-spacing: .1em;
    margin-top: 40px;
   
 }  */
 
 #headerButton {
	width: 30%;
	margin: 30px auto;
 }

 
.btn3 {
    background: linear-gradient(to bottom, #cbcbcb 2%, #fff 100%);
   	float: center;
    padding: 15px 30px;
    text-align: center;
    transition: .5s;
    border: none;
    outline: none;
    text-transform: uppercase;
    color: #1b1b1b;
    font-size: 20px;
    font-weight: 700;
    border-radius: 30px;
    box-shadow: 1px 4px 12px rgba(94,28,68,.15);
}

#footer {
	background-color: #0d6efd;
	padding: 30px 100px
}

#footer div{
	padding: 0;
}


#footer #firstDiv {
	padding-left: 80px;
	padding-right: 40px;
}

#footer #secondDiv {
	padding-left: 80px
}


#footer #thirdDiv {
	padding-left: 80px;
	padding-right: 40px;
}


section form {
	width: 50%;
    margin: 10% auto;
    border: 2px solid black;
    border-radius: 10px;
    padding: 60px;
    text-align: left;
}

#backToHomepageLink {
	text-align: center;
	padding: 0px 25px 25px 20px;
	font-size: 20px;
	text-decoration: none;
	font-weight: bold;
		
}

#backToHomepageLink a {
	text-decoration: none;
	/* transition: all .2s ease-in-out; */
}

#backToHomepageLink a:hover {
	text-decoration: underline;
/* 	transform: scale(2); */
}

.banner{
    min-height: 100vh ;
    background: linear-gradient(rgba(0,0, 0, 0.5),rgba(0,0, 0, 0.5)), url(images/home.png) center/cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding-bottom: 20px;
}

.card-container{
    display: grid;
    grid-template-columns: 420px 420px;
}

.card-img{
    background: url(images/australia.jpg) center/cover no-repeat ;
}

.banner h2{
    padding-bottom: 60px;
    margin-bottom: 20px;
}

.card-content{
    background: white;
    height: 400px;
}
.card-content h3{
    text-align: center;
    color: #000;
    padding: 25px 10px 0;
    font-size: 26px;
    font-weight: 500;
}
.form-row{
   display: flex;
   width: 90%;
   margin: 0 auto;
}

form select, form input{
    display: block;
    width: 100;
    margin: 15px 12px;
    padding: 5px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    outline: none;
    border: none;
    border-bottom: 1px solid #eee;
    font-weight: 300;
}

form input[type=text], form input[type=number] 
form input::placeholder, 
select{
 color: #9a9a9a;
}

input[type=submit]{
    color: #fff;
    background: gold;
    border-radius: 4px;
    cursor: pointer; 
    text-align: center;
    
}
 input[type=submit]:hover{
    opacity: 0.9;
}

@media(max-width: 992px){
    .card-container{
        grid-template-columns: 100%;
    }
    .card-img{
        height: 330px;
    }
}

#contactbackground{
	background-image: url(images/home.png);
	height: 100%;
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}



